---
---

@import 'colors';
@import 'fonts';
@import 'table';
@import 'code';
@import 'header';
@import 'tags';

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

body {
    padding: $body-padding;
    font-family: 'AdobeGaramond', serif;
    font-size: 1.8rem;
    color: $font-color;
}

main {
    margin: auto;
    max-width: $main-max-width;
    position: relative;
}

h1 {
    margin: 0.2em 0;
}

h2, h3 {
    margin: 0.4em 0;
}

h1 + p, h2 + p, h3 + p {
    margin-top: 0;
}

h1 {
    font-size: 3.8rem;
    line-height: 1.2;
}

p, li {
    line-height: 1.5;
}

a {
    color: $link-color;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: $visited-link-color;
    }
}

a.title-link {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: inherit;
    }
}

@media (min-width: $main-with-header-extent) {
    body {
        font-size: 1.9rem;
    }

    p, li {
        line-height: 1.6;
    }
}

ul.index {
    margin: 0;

    & > li {
        padding: 20px 0;
        border-bottom: 1px dashed $index-border-color;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: none;
        }
    }
}

.post-header {
    margin-bottom: 1.6em;

    p.meta {
        margin: 0.5em 0;
    }
}

// Make sure that superscript (e.g. for footnotes) doesn't mess with line
// height. We just lower the superscript a tad.
sup {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

article {
    // Punch card post has really long inline code block
    p {
        overflow-wrap: break-word;
    }

    img {
        max-width: 100%;
        margin: 36px auto;
        display: block;
    }
}

blockquote {
    margin-left: 20px;
    margin-right: 20px;

    @media (min-width: $main-with-header-extent) {
        margin-left: 40px;
        margin-right: 40px;
    }
}

.footnotes {
    font-size: 1.6rem;
    margin-top: 26px;
    padding: 10px 0;
    border-top: 1px dashed $index-border-color;

    a {
        // Seems to be the only way to wrap URLs in Chrome on mobile?
        word-break: break-all;
    }
}

img.icon {
    width: 30px;
    height: 30px;
}

footer {
    padding-top: 30px;
    text-align: center;

    img {
        max-width: 200px;
    }
}
