---
description: A blog about the technical side of computing history.
---
{% assign posts = site.posts | sort: 'year' %}
<h1>Timeline</h1>

<div class="timeline">
{% assign siecle = posts | where_exp: 'item', 'item.year >= 1840'
   | where_exp: 'item', 'item.year < 1850' %}
<h2>1840s</h2>
{% include timeline-list.html posts=siecle %}

{% assign sixties = posts | where_exp: 'item', 'item.year >= 1960'
   | where_exp: 'item', 'item.year < 1970' %}
<h2>1960s</h2>
{% include timeline-list.html posts=sixties %}

<h2>1970s</h2>
{% assign seventies = posts | where_exp: 'item', 'item.year >= 1970'
   | where_exp: 'item', 'item.year < 1980' %}
{% include timeline-list.html posts=seventies %}

<h2>1980s</h2>
{% assign eighties = posts | where_exp: 'item', 'item.year >= 1980'
   | where_exp: 'item', 'item.year < 1990' %}
{% include timeline-list.html posts=eighties %}

<h2>1990s</h2>
{% assign nineties = posts | where_exp: 'item', 'item.year >= 1990'
   | where_exp: 'item', 'item.year < 2000' %}
{% include timeline-list.html posts=nineties %}

<h2>2000s</h2>
{% assign naughties = posts | where_exp: 'item', 'item.year >= 2000'
   | where_exp: 'item', 'item.year < 2010' %}
{% include timeline-list.html posts=naughties %}
</div>
