@font-face {
    font-family: 'AdobeGaramond';
    src: url('/fonts/adobe_garamond_regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'AdobeGaramond';
    src: url('/fonts/adobe_garamond_italic.ttf');
    font-style: italic;
}
