@font-face {
    font-family: 'AdobeGaramondRegular';
    src: url('/fonts/adobe_garamond_regular.ttf');
}

@font-face {
    font-family: 'AdobeGaramondItalic';
    src: url('/fonts/adobe_garamond_italic.ttf');
}

@font-face {
    font-family: 'AdobeGaramondBold';
    src: url('/fonts/adobe_garamond_bold.ttf');
}
