$main-max-width: 580px;
$body-padding: 20px;
$header-width: 180px;
$header-padding: 24px;
$header-offset: 48px;

$main-extent: $main-max-width + 2 * $body-padding;
$main-with-header-extent:
    $main-extent + 2 * ($header-width + $header-offset);

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    padding: $body-padding;
}

h1, h2, h3 {
    margin: 0.4em 0;
}

h1 + p, h2 + p, h3 + p {
    margin-top: 0;
}

main {
    margin: auto;
    max-width: $main-max-width;
    position: relative;
}

header {
    text-align: right;

    h1 {
        line-height: 1;
        margin: 0.1em 0;
    }

    ul {
        padding: 0;
    }

    padding-right: $header-padding;

    position: absolute;
    right: calc(100% + #{$header-offset});
    top: 40px;
    width: $header-width;

    @media (max-width: $main-with-header-extent) {
        display: none;
    }
}

.post-header {
    margin: 2.0em 0;

    @media (max-width: $main-extent) {
        margin-top: 0;
    }
}

article img {
    max-width: 100%;
}
