<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!-- content -->
    <main>
      <header>
        <h1><code>0b10</code></h1>
        <p>Two-Bit History</p>
        <nav>
          <ul>
            <li>
              <a href="{{site.baseurl}}{% link index.html %}">Home</a>
            </li>
            <li>
              <a href="{{site.baseurl}}{% link about.html %}">About</a>
            </li>
          </ul>
        </nav>
      </header>

      {{ content }}
    </main>

    <!-- footer -->
    <footer>
    </footer>
  </body>
</html>
