<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@TwoBitHistory" />

    <!-- OpenGraph -->
    <meta property="og:image" content="{{site.url}}{% link images/logo.png %}" />
    <meta property="og:url" content="{{site.url}}{{page.url}}" />
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:description" content="{{page.description}}" />

    <!-- RSS -->
    {% feed_meta %}

    <!-- Dropdown Menu -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="{{ site.url }}{% link scripts/dropdown.js %}"></script>

    <!-- MathJax -->
    {% if page.has_math %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    {% endif %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108160350-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108160350-1');
    </script>
  </head>
  <body>
    <!-- content -->
    <div class="mobile-header">
      <div class="dropdown-toggle">
        <div class="arrow-down dropdown-toggle">
        </div>
        <h1 class="code-title">0b10</h1>
      </div>
      <div class="dropdown closed">
        <p>Two-Bit History</p>
        <nav>
          <ul>
            <li>
              <a href="{{site.url}}{% link index.html %}">Home</a>
            </li>
            <li>
              <a href="{{site.url}}{% link about.html %}">About</a>
            </li>
            <li>
              <a href="{{site.url}}{% link timeline.html %}">Timeline</a>
            </li>
          </ul>
        </nav>
        <ul>
          <li>
            <a href="https://twitter.com/TwoBitHistory">
              <img class="icon" src="{{site.url}}{% link images/twitter.svg %}" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <main>
      <header>
        <h1 class="code-title"><a href="{{site.url}}{% link index.html %}">
            0b10
        </a></h1>
        <p>Two-Bit History</p>
        <p class="tagline">
          Computing through<br/>the ages
        </p>
        <nav>
          <ul>
            <li>
              <a href="{{site.url}}{% link index.html %}">Home</a>
            </li>
            <li>
              <a href="{{site.url}}{% link about.html %}">About</a>
            </li>
            <li>
              <a href="{{site.url}}{% link timeline.html %}">Timeline</a>
            </li>
          </ul>
        </nav>
        <ul>
          <li>
            <a href="https://twitter.com/TwoBitHistory">
              <img class="icon" src="{{site.url}}{% link images/twitter.svg %}" />
            </a>
          </li>
          <li>
            <a href="{{site.url}}/feed.xml">
              <img class="icon" src="{{site.url}}{% link images/feed.png %}" />
            </a>
          </li>
        </ul>
      </header>

      {{ content }}
    </main>

    <!-- footer -->
    <footer>
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
      </a>
    </footer>
  </body>
</html>
