<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <!-- content -->
    <main>
      <header>
        <h1><code>0b10</code></h1>
        <p>Two-Bit History</p>
        <nav>
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Data Formats</a>
            </li>
            <li>
              <a href="#">Databases</a>
            </li>
            <li>
              <a href="#">Unix</a>
            </li>
          </ul>
        </nav>
      </header>

      {{ content }}
    </main>

    <!-- footer -->
    <footer>
    </footer>
  </body>
</html>
